body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0CB0D6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.banner h1 {
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav button {
    background-color: #0CB0D6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #0899B6;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Garante que as colunas fiquem separadas */
    margin-bottom: 20px;
}

.column-left {
    flex: 0 0 7cm; /* Largura fixa da imagem */
    margin-right: 20px; /* Espaço entre as colunas */
}

.column-left img {
    width: 15cm;
    height: 14cm;
}

.column-right {
    flex: 1;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 15cm; /* Garante que a altura da coluna direita seja igual à da imagem */
}

.banner-text {
    background-color: #0CB0D6;
    color: white;
    width: 100%;
    height: 2cm; /* Define a altura do banner */
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    padding: 0; /* Remove o padding do banner */
}

.banner-text h2 {
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove padding para aproximar o texto das bordas do banner */
}

.payment {
    background-color: #0CB0D6;
    color: white;
    padding: 10px;
    text-align: left;
}

.payment h2 {
    margin: 0;
    font-size: 20px;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.logos img {
    width: 50px;
    height: auto;
}

footer {
    background-color: #0CB0D6;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer button {
    background-color: #0CB0D6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

footer button:hover {
    background-color: #06afd1;
}

.botao{
    background-color: #0CB0D6;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.botao:hover{
    background-color: #2ecbee;
}

.navbotao{
    background-color: #0CB0D6;
    border: none;
    color: #fff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.navbotao:hover{
    background-color: #2ecbee;
}